# Conditions

Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [1]:
x = 2
print(x == 2)
print(x == 3)
print(x < 3)

True
False
True

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".

## Boolean operators

The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [2]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

## The "in" operator

The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [3]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

## If and elif
Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.

Here is an example for using Python's "if" statement using code blocks:

In [4]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

## The "not" operator
Using "not" before a boolean expression inverts it:

In [5]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

## Your turn

Print:  
* A for score from 80 onward / A+ [90++]
* B for score from 70 to 79
* C for score from 60 to 69
* D for score from 50 to 59
* F for score less than 50

In [6]:
score = 96

In [7]:
if score >= 80:
    if score >= 90:
        print('A+')
    else:
        print('A')
elif score >= 70 and score <= 79:
    print('B')
elif score >= 60:
    print('C')
elif score >= 50:
    print('D')
else:
    print('F')

A+

# Loops

There are two types of loops in Python, for and while.

## 1: The "for" loop
For loops iterate over a given sequence. Here is an example:

In [8]:
primes = [2, 3, 5, 7]

print('Number : ', primes[0])
print('Number : ', primes[1])
print('Number : ', primes[2])
print('Number : ', primes[3])

print('For Loop')
# Let's try it here
for number in primes:
    if number < 5:
        print('Number : ', number)

Number :  2
Number :  3
Number :  5
Number :  7
For Loop
Number :  2
Number :  3

For loops can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient. (Python 3 uses the range function, which acts like xrange). Note that the range function is zero based.

In [9]:
# range(start, stop, step)

# Prints out the numbers 0,1,2,3,4 using range
for number in range(0, 5, 2):
    print('Number : ', number)

Number :  0
Number :  2
Number :  4

## 2: "while" loops
While loops repeat as long as a certain boolean condition is met. For example:

In [10]:
# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

## "break" and "continue" statements

break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the "for" or "while" statement. A few examples:

In [11]:
# Prints out 0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [12]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

## Can we use "else" clause for loops?

Unlike languages like C,CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If a break statement is executed inside the for loop then the "else" part is skipped. Note that the "else" part is executed even if there is a continue statement.

Here are a few examples:

In [13]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [14]:
# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

In [15]:
phonebook = {"John" : 938477566, "Jack" : 938377264, "Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

## Your turn:

Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.


First: Try to print all number by using for loop

Second: Print only even number

Final: Stop the loop at number 237

In [16]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# Hint num % 2 == 0
for ref in numbers:
    if ref % 2 == 0:
        print(ref, end=', ')
    if ref == 237:
        break

402, 984, 360, 408, 980, 544, 390, 984, 592, 236, 942, 386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918,

# Functions

What are Functions?

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

In [17]:
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

In [18]:
# Call each function
my_function()
my_function()

Hello From My Function!
Hello From My Function!

In [19]:
my_function_with_args('John', 'a good day')

Hello, John , From My Function!, I wish you a good day

In [20]:
sum_two_numbers(5, 6)

11